.profile__avatar-button {
  background-color: rgba(0, 0, 0, 0.8);
  background: url("../../../images/avatar-button.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  visibility: hidden;
}

/* .profile__avatar-button:hover {
  opacity: 0.2;
} */
