.form__button_inactive {
  background-color: #ffffff;
  margin-top: 31px;
  color: #000000;
  border: 1px solid rgb(0, 0, 0, 0.15);
  opacity: 20%;
}

.form__button_inactive:hover {
  cursor: default;
}
