.profile__avatar-container {
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__avatar-container {
    align-self: center;
  }
}

/* добработать оверлайн*/
.profile__avatar-container:hover > .profile__avatar-button {
  visibility: visible;
}
