.form__text {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px auto 11px 36px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .form__text {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 45px 22px;
    padding: 0;
    width: 238px;
  }
}
